*{
    background-color:purple;
    color:black
}
table,td {
    border: 4px solid black;
    background-color:skyblue
}
table,th{
    background-color:black;
    color:white;
}
.link{
    color:midnightblue
}
.click{
    font-size: 35px;
}